octave-core
*.o
*~
*.kate-swp
**/build/
*.mexa64
*.mexw64
.R*
CMakeFiles/*
CMakeFiles/*/*
CMakeFiles/*/*/*
CMakeCache.txt
cmake_install.cmake
**/bin/**
*.a
software/*/bin/*
software/*/*/bin/*
**/.directory
tmp/**
**/*.aux
**/*.log
**/*.out
**/*.spl
**/*.bbl
**/*.blg
**/*.synctex.gz
**/tmp/**
**/.kdev4/**
**/.kdev4
**/.kdev4/
stash/**
.kdev4/**
.kdev4
datasets.small
**/*.swp
